
<head> 
    <link rel="stylesheet" href="http://demos.creative-tim.com/light-bootstrap-dashboard/assets/css/bootstrap.min.css"/>

    <link href="http://demos.creative-tim.com/light-bootstrap-dashboard-pro/assets/css/light-bootstrap-dashboard.css" rel="stylesheet" />
    
    <!--link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <!--link href="http://demos.creative-tim.com/light-bootstrap-dashboard-pro/assets/css/demo.css" rel="stylesheet" /-->


    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />



</head>


<body class="">
    <div class="wrapper ">
        <div class="sidebar" data-color="blue" data-image="http://demos.creative-tim.com/light-bootstrap-dashboard/assets/img/sidebar-4.jpg">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
          
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="#" class="simple-text">
                       <p> <span class="nc-icon nc-chart-pie-35"></span> LOG HitScan Admin </p>
                    </a>
                </div>
                <ul class="nav">
                      <li class="nav-item active">
                        <a class="nav-link" href="#dashboard">
                            <i class="nc-icon nc-chart-pie-35"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#alldevices1">
                            <i class="nc-icon nc-notes"></i>
                            <p>All Devices</p>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">
                            <i class="nc-icon nc-notes"></i>
                            <p>Devices Out</p>
                        </a>
                    </li>
                     <li class="nav-item active">
                        <a class="nav-link" href="#update_devices">
                            <i class="nc-icon nc-notes"></i>
                            <p>Update</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


        <div class="main-panel">
            <!-- Navbar -->

            <nav id="dashboard" class="navbar navbar-expand-lg ">
                <div class=" container-fluid  ">
                    <a class="navbar-brand" href="#alldevices1"> Dashboard </a>
                    <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                        <ul class="nav navbar-nav mr-auto">
                           
                        
                        </ul>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#pablo">
                                    <span class="no-icon">Account</span>
                                </a>
                            </li>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#pablo">
                                    <span class="no-icon">Log out</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
 <section  id="alldevices1">  
        <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card strpied-tabled-with-hover">
                                <div class="card-header ">
                                    <h4 class="card-title">Display device details</h4>
                                    <p class="card-category">This table shows all the devices available</p>
                                </div>
                                        <div class="card-body table-full-width table-responsive">
                                            <table class="table table-hover table-striped" id="alldevices" width="50%">
                                                <thead>
                                                    <tr><th>IMEI</th>
                                                    <th>DeviceModel</th>
                                                    <th>Description</th>
                                                    <th>SerialNumber</th>
                                                </tr></thead>
                                                <tbody>
                                                    
                                                    <tr>
                                                    <td>123456</td>
                                                    <td>iPhone 5s</td>
                                                    <td>its a phone</td>
                                                    <td>1235678</td>
                                                    </tr>
                                                    
                                                    <tr>
                                                    <td>5234567</td>
                                                    <td>Samsung S8</td>
                                                    <td>its a phone</td>
                                                    <td>1245678</td>
                                                    </tr>
                                                    
                                               

                                                
                                                </tbody>
                                            </table>
                                        </div>
                            </div>
                        </div>

                       
                        </div>
                    </div>
                </div>
</section> 

           
 <section  id="update_devices">  
<div class="card-body">


    <div class=""> 
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong"> Create </button>

    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalLong"> Edit </button>

    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalLong"> Delete </button>

    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalLong"> Save changes </button>

    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalLong"> Discard changes </button>

   
 
</div>


<div id="myTable_filter" class="dataTables_filter">
<i class="nc-icon nc-zoom-split"></i>
    <label>Search:<input type="search" class="" placeholder="" aria-controls="myTable"></label></div>

</div>
        <div class="content">
                <div class="container-fluid" width="70%">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card strpied-tabled-with-hover">
                                <div class="card-header ">
                                    <h4 class="card-title">Display device details</h4>
                                    <p class="card-category">This table shows all the devices available</p>
                                </div>
                                        <div class="card-body table-full-width table-responsive" width="70%">
                                            <table class="table table-hover table-striped" id="update_devices1" width="70%">
                                                <thead>
                                                    <tr><th>IMEI</th>
                                                    <th>DeviceModel</th>
                                                    <th>Description</th>
                                                    <th>SerialNumber</th>
                                                </tr></thead>
                                                <tbody>
                                                    
                                                    <tr>
                                                    <td>123456</td>
                                                    <td>iPhone 5s</td>
                                                    <td>its a phone</td>
                                                    <td>1235678</td>
                                                    </tr>
                                                    
                                                    <tr>
                                                    <td>5234567</td>
                                                    <td>Samsung S8</td>
                                                    <td>its a phone</td>
                                                    <td>1245678</td>
                                                    </tr>
                                                    
                                               

                                                
                                                </tbody>
                                            </table>
                                        </div>
                            </div>
                        </div>

                       
                        </div>
                    </div>
                </div>
</section> 

<section>
    
                    <div class="modal fade modal-mini modal-primary" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header justify-content-center">
                                    <div class="modal-profile">
                                        <i class="nc-icon nc-bulb-63"></i>
                                    </div>
                                </div>
                                <div class="modal-body text-center">
                                    <p>Always have an access to your profile</p>
                                </div>
                               <div class="modal-footer">
                                    <button type="button" class="btn btn-link btn-simple">Back</button>
                                    <button type="button" class="btn btn-link btn-simple" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
</section>


<section>
    

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


</section>



</body>
     
















<!--   Core JS Files   -->
    <script src="http://demos.creative-tim.com/light-bootstrap-dashboard/assets/js/core/bootstrap.min.js" ></script>
    <script src="http://demos.creative-tim.com/light-bootstrap-dashboard/assets/js/core/jquery.3.2.1.min.js" ></script>
    <script src="http://demos.creative-tim.com/light-bootstrap-dashboard/assets/js/core/popper.min.js" ></script>
    
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="http://demos.creative-tim.com/light-bootstrap-dashboard/assets/js/plugins/bootstrap-switch.js"></script>
<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2Yno10-YTnLjjn_Vtk0V8cdcY5lC4plU"></script>
<!--  Chartist Plugin  -->
<script src="http://demos.creative-tim.com/light-bootstrap-dashboard/assets/js/plugins/chartist.min.js"></script>
<script src="http://demos.creative-tim.com/light-bootstrap-dashboard/assets/js/plugins/jquery.sharrre.js"></script>

<!--  Notifications Plugin    -->
<script src="http://demos.creative-tim.com/light-bootstrap-dashboard/assets/js/plugins/bootstrap-notify.js"></script>
<script src="http://demos.creative-tim.com/light-bootstrap-dashboard/assets/js/light-bootstrap-dashboard.js?v=2.0.1" type="text/javascript"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>









<script>
$(document).ready(function() {
    $('#alldevices').DataTable();
        "paging":   false,
        "ordering": true,
        "info":     false
} );




$('#myModal1').on('shown.bs.modal', function () {
  $('#myInput').focus()
})

</script>




  